<div class="layout-sidebar ng-tn">
  <div class="logo">
    <a href=""><i class="pi pi-apple" style="font-size: 2rem" ></i>
      <span>Poshan</span>
    </a>
  </div>
  <div class="menu">
    <div class="menu-category">
      General
    </div>
    <div class="menu-items">
      <a >Get Started</a>
      <a>Locale</a>
      <a>Migration</a>
    </div>

  </div>
   <div class="menu">
    <div class="menu-category">
      General
    </div>
    <div class="menu-items">
      <a >Get Started</a>
      <a>Locale</a>
      <a>Migration</a>
    </div>

  </div>
   <div class="menu">
    <div class="menu-category">
      General
    </div>
    <div class="menu-items">
      <a >Get Started</a>
      <a>Locale<span class="p-tag ng-tns-c42-1">New</span></a>
      <a>Migration</a>
    </div>

  </div>
   <div class="menu">
    <div class="menu-category">
      General
    </div>
    <div class="menu-items">
      <a >Get Started</a>
      <a>Locale<span class="p-tag ng-tns-c42-1">New</span></a>
      <a>Migration</a>
    </div>

  </div>
   <div class="menu">
    <div class="menu-category">
      General
    </div>
    <div class="menu-items">
      <a >Get Started</a>
      <a>Locale<span class="p-tag ng-tns-c42-1">New</span></a>
      <a>Migration</a>
    </div>

  </div>
</div>