<div class="sidebar">

  <div class="sidebar-brand">
    <span><i class="las la-igloo">Online </i></span>
  </div>
  <div class="sidebar-menu">
    <div class="p-d-flex p-flex-column">
      <div class="p-mb-2 box">
        <a href=""><i class="las la-igloo"></i><span>Dashboatd</span> </a>
      </div>
       <div class="p-mb-2 box">
        <a href=""><i class="las la-users"></i><span>Customers</span> </a>
      </div>
       <div class="p-mb-2 box">
        <a href=""><i class="las la-user-circle"></i><span>Account</span> </a>
      </div>
       <div class="p-mb-2 box">
        <a href=""><i class="las la-clipboard-list"></i><span>Task</span> </a>
      </div>

   
</div>
    
    
  </div>
  
</div>
