* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.sidebar {
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #dd2f6e;
}

.sidebar-brand {
  text-align: center;
  padding: 1rem 1rem 2rem;
  font-size: 2rem;
}
.box {
  background-color: var(--surface-e);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: ;
  border-radius: 4px;
  box-shadow: 0 3px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(148, 27, 27, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  width: 12rem;
}
.sidebar-menu {
  padding-left: 2rem;
}
