<div class="topbar">
  <div class="top-wrapper">
    <div class="top-left">
      <a>
        <span class="pi pi-apple"></span>
        <span>Apple</span>
      </a>
    <label for="typeSearch"><span class="pi pi-search search-bar"></span></label>
    <input type="text " placeholder="Type your search here" class="top-search">

    </div>
    <div class="top-right">
      <div class="user">
        <p-avatar label="P" shape="circle"></p-avatar>
      <p-button label="Emails" badge="8" styleClass="p-mr-2"></p-button>
<p-button label="Messages" icon="pi pi-users" styleClass="p-button-warning" badge="8" badgeClass="p-badge-danger"></p-button>

      </div>
     
    </div>
  </div>
</div>